$orange: hsl(26, 100%, 55%);
$paleOrange: hsl(25, 100%, 94%);
$darkBlue: hsl(220, 13%, 13%);
$grayishBlue: hsl(219, 9%, 45%);
$blue: hsl(220, 14%, 75%);
$LightBlue: hsl(223, 64%, 98%);
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
